.link {
    color: #3366FF;
}

.hover {
    color: #f50202;
}

.right {
    box-align: right;
    }

.footer {
    position:relative;
    bottom:0;
    width:100%;
    height: 20px;  
    
}

div.relative {
    position: relative;
    left: 30px;
}

.styleLink{
    color: blue;
    cursor: pointer;
}

.titleNavbarBackground{
    background-color: #3366FF;
}

._hTitle{
    color: white;
    font-size: 25px;
}

.sText{
    font-size: 10px;
}

.logo{
    height:60;
    width:60;
}

.fontMedium{
    font-size: 10px
}

.navbarBackground{
    background-color: #6699FF;
}

.customButton{
    background-color: #98CCFF; 
}

.navLink{
    color: white; 
}

.bPosition{
    display: flex; 
    justify-content: flex-end;
}

._abs-center{
    position:absolute; 
    margin-left: 35%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
    margin-right:35%
}

._center{
    position:relative; 
    margin-top: 1%; 
    margin-left: 35%; 
    margin-bottom: 30%; 
    margin-right:35%;
}