._center-text{ 
    text-align: center;
}

._center-relative{
    position: relative; 
    margin-top: 1%; 
    margin-left: 35%; 
    margin-bottom: 30%; 
    margin-right: 35%;
}

._table-margins{
    margin-top: 1%; 
    margin-bottom: 30%;
}

._pwd-eye{
    position: relative; right:-170; transform: translateY(-160%); max-width: 30px;
}

._input-field{
    background-color:#99ccff;
    width:10cm;
}

._link{
    color: blue; 
}

._link:hover{
    color: lightskyblue;
    cursor: pointer;
}

._bkg1{
    background-color: #3366FF;
}

._bkg2{
    background-color: #6699FF;
}

._bkg3{
    background-color: #98CCFF;
}

._login-btn{
    display: flex; 
    justify-content: flex-end;
}

._title{
    color: white; 
    font-size: 3vw;
}

._subtitle{
    color: white; 
    font-size: 1.5vw;
}

._menu-text-color{
    color: white;
}

._nav-style{
    display: flex; 
    justify-content: flex-end;
}

._logo{
    width: 8vw; 
    height: 8vw;
}